{% extends "main.html" %}
{% block content %}
<div class="row mb-3">
    <div class="col">
        <div class="row">
            <div class="col-8">
                {% if error_criteria_value_sum %}
                {{ error_criteria_value_sum }}
                {% endif %}
                {% for criterion in criteria %}
                <form id="form_delete_criterion" action="{% url 'products:update_criterion' criterion.id %}" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <textarea id="criterion_{{ criterion.id }}_name" name="object-criterion-{{ criterion.id }}-name" cols="40" rows="2" class="form-control" placeholder="Введите критерий" onchange="UpdateData(this)">{{ criterion.name }}</textarea>
                        <button id="button_execute_{{ criterion.id }}" name="submit-delete-criterion" type="submit" class="btn btn-outline-danger" style="width:30%">Удалить</button>
                    </div>
                </form>
                {% endfor %}
                {% if can_add_criteria %}
                <form id="form_add_criterion" action="{% url 'products:add_criterion' task_id %}" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <textarea name="criterion-NONE-name" cols="40" rows="2" class="form-control" placeholder="Введите критерий"></textarea>
                        <button name="submit-add-criterion" type="submit" class="btn btn-outline-success" style="width:30%">Добавить</button>
                    </div>
                </form>
                {% endif %}
                <a href="{% url 'products:update_task_v2' task_id %}" type="button" class="btn btn-outline-primary">Назад</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}