{% extends "main.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <form class="row align-items-center" id="add_task" action="{% url 'products:set_task_name' %}" method="post">
                {% csrf_token %}
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                <fieldset class="row mb-3">
                    <div class="col-auto">
                        <label class="visually-hidden" for="name">Название задачи</label>
                        <div class="input-group">
                            <div class="input-group-text">Название задачи</div>
                            <input type="text" class="form-control" id="name" placeholder="Название задачи" name="task_name" value="{{ task_name }}">
                        </div>
                    </div>
                </fieldset>
                <button type="submit" class="btn btn-outline-primary" name="submit-create-task">Далее</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}